{% extends 'base.html.twig' %}

{% block body %}
    <h2>Les articles</h2>
    <ul>
        {% for article in articles %}
            <li><a href="{{ path("article_show", {"article" : article, "slug" : article.slug}) }}">{{ article.title }} {{ article.countView }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
